img{
	visibility: visible;
	width: 30px;
	height: 30px;
}

.github{
	margin-right: 90%;
	visibility: hidden;
}

.wordpress{
	margin-right: 90%;
	visibility: hidden;
}

#home {
	visibility: hidden;
	width: 40px;
	height: 40px;
	margin-left: 90%;
}    


#info{
	display: inline-block;
	columns: 3;
	margin-top: 60%;
}