body{
	background-color: lightblue;
}

p{
	padding-bottom: 20px;
}

.videos {
	column-count: 2;
}

.right h2{
	padding-top: 12px;
}

h4{
	color:#6600cc;
}

img{
	visibility: visible;
	width: 30px;
	height: 30px;
}

#home{
	visibility: hidden;
	width: 40px;
	height: 40px;
	margin-left: 90%;
}    

