
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCQfdDRPJMVYP0ayXcavuV07KH91v0pcls",
    authDomain: "imommy-54972.firebaseapp.com",
    databaseURL: "https://imommy-54972.firebaseio.com",
    storageBucket: "",
  };
  firebase.initializeApp(config);
</script>